<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ISFD</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/impa.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bg-gris">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo.jpg"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Docentes y estudiantes</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          <li><a href="javascript:void(0);" class="view-navigation"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
         
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="extra-navigation">
    <h2>Información sobre</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              La fabrica
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul>
              <li><a href="">Historia</a></li>
              <li><a href="">Filosofía</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ciudad cultural
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
             <ul>
              <li><a href="">Centro cultural</a></li>
              <li><a href="">Museo</a></li>
              <li><a href="">Radio semilla</a></li>
              <li><a href="">Barricada</a></li>
              <li><a href="">Diseño</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             Polo educativo
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
           <ul>
              <li><a href="">UT-IMPA</a></li>
              <li><a href="">Calendario</a></li>
              <li><a href="">Publicaciones</a></li>
              <li><a href="">Novedades</a></li>
              <li><a href="">Institucional</a></li>
              <li><a href="">Investigacion</a></li>
              <li><a href="">Bachillerato</a></li>
              <li><a href="">Profesorados</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Banner -->
    <div class="container-flud banner-principal">
      <h1>Profesorado Física</h1>
    </div>
    <!-- / Banner -->

    <!-- Contenido centrado -->
       <!-- <div class="container section">
    <div class="row separador">
          <div class="col-md-6">
            <div class="box-principal box-big">
              <div class="box-img-principal-1 box-img"></div>
              <div class="box-principal-texto">
                <h2>Los profesorados de IMPA</h2>
                <p>En este espacio se pondrán las carreras on and specialising in the
  study of creative, cultural and social subjects. Degree programmes,
  student life and departmental research .is a public university...</p>
           <hr>
              </div>
             
              <div class="box-principal-mas">Ver mas..</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                 <div class="box-principal box-small">
                    <div class="box-img-principal-2 box-img"></div>
                    <div class="box-principal-texto">
                      <p>Exposición de los Es esa nuestra filosofía trabajos 2017 1 — 30.12.2017 Desde las 14:00</p>
                      <hr>
                    </div>
                   
                    <div class="box-principal-mas">Ver mas..</div>
                  </div>
              </div>
               <div class="col-md-6">
                 <div class="box-principal box-rojo box-small">
                    <div class="box-principal-texto">
                      <h4>Bienvenidos a</h4>
                      <h3>La universidad
de los trabajadores</h3>
<p>El espacio nació desde
la lucha el trabajo colectivo.
Exposición de los Es esa nuestra filosofía</p>
                      <hr>
                    </div>
                   
                    <div class="box-principal-mas">Ver mas..</div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                 <div class="box-principal box-separador box-small">
                    <div class="box-img-principal-3 box-img"></div>
                    
                   
                   
                  </div>
              </div>
              
            </div>
          </div>
        </div>
 <div class="separador"></div>
        -->
       

        <!-- Buscador 
        <div class="col-md-12 buscador">
            <h2>¿Qué te gustaría estudiar?</h2>
            <div class="row padding separador">
              <div class="col-md-11 col-xs-12 col-sm-10 buscador-input" contenteditable="true">Buscá el curso</div>
              <div class="col-md-1 col-sx-12 col-sm-2 buscador-btn"><span class="glyphicon glyphicon-search"></span></div>
            </div>  
        </div>
        -->
        <!-- / Buscador

        <div class="row separador">
          <div class="col-md-6">
            <div class="box-principal box-big">
              <div class="box-img-principal-1 box-img"></div>
              <div class="box-principal-texto">
                <h2>Los profesorados de IMPA</h2>
                <p>En este espacio se pondrán las carreras on and specialising in the
  study of creative, cultural and social subjects. Degree programmes,
  student life and departmental research .is a public university...</p>
           <hr>
              </div>
             
              <div class="box-principal-mas">Ver mas..</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                 <div class="box-principal box-small">
                    <div class="box-img-principal-2 box-img"></div>
                    <div class="box-principal-texto">
                      <p>Exposición de los Es esa nuestra filosofía trabajos 2017 1 — 30.12.2017 Desde las 14:00</p>
                      <hr>
                    </div>
                   
                    <div class="box-principal-mas">Ver mas..</div>
                  </div>
              </div>
               <div class="col-md-6">
                 <div class="box-principal box-rojo box-small">
                    <div class="box-principal-texto">
                      <h4>Bienvenidos a</h4>
                      <h3>La universidad
de los trabajadores</h3>
<p>El espacio nació desde
la lucha el trabajo colectivo.
Exposición de los Es esa nuestra filosofía</p>
                      <hr>
                    </div>
                   
                    <div class="box-principal-mas">Ver mas..</div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                 <div class="box-principal box-separador box-small">
                    <div class="box-img-principal-3 box-img"></div>
                    
                   
                   
                  </div>
              </div>
              
            </div>
          </div>
        </div>

         

        
    </div>-->
    


    <div class="container-fluid bg-gris section">
      <div class="container">
        <div class="row separador">
         
         
        	<div class="col-md-12 info-polo">
        		 <h2>PROFESORADO DE EDUCACIÓN POPULAR EN FÍSICA</h2>
        	Desde los lejanos inicios de la especie sapiens, nuestros antepasados intentaron explicar y dominar el universo que nos rodeaba: el poder del fuego, la trayectoria de un proyectil, el movimiento de los astros. Estos conocimientos se instalaban desde la propia experiencia y su posterior racionalización, dentro del marco comunitario del clan, y se plasmaban en las paredes de las cavernas. Los conocimientos estaban impregnados de la propia experiencia, de lo comunitario y de lo artístico. Ninguno de esos conocimientos nos habrían llegado a través de milenios de evolución sin la más bella y antigua de las profesiones: la docencia. Por eso, enseñar Física y enseñar a enseñar Física, repite el ritual de mostrar cómo se enciende el fuego y de cómo se ilumina. Es la firma de autor de la especie humana.
​<br>
​<br>
    Nuestro Profesorado de Educación Popular en Física te ofrece, además, y al igual que el resto de nuestras Carreras, educación pública, popular y gratuita, en un espacio de estudio, reflexión y militancia  que nos permite abordar el análisis crítico de la realidad y  el aporte de las ciencias al bienestar del pueblo. 


        	</div>
      

        </div>
      </div>
    </div>

     <div class="container-fluid bg-blanco section">
      <div class="container">
        <div class="row separador">
         
         
        	<div class="col-md-12 info-polo">
        		<h3 class="title-rojo">Denominación de la carrera</h3>
			       Profesorado de Educación Secundaria en Física

             <h3 class="title-rojo">Diseño Curricular Jurisdiccional</h3>
            Resolución N° 4263-MEGC-2014


             <h3 class="title-rojo">Título que otorga</h3>
             Profesor/a de Educación Secundaria en Física

              <h3 class="title-rojo">Alcances o incumbencias del título</h3>
             Tiene alcance en el Nivel Secundario

              <h3 class="title-rojo">Duración total de la carrera</h3>
             4 años<br>
Carga horaria total en horas reloj: 2.600 horas<br>
Carga total en horas cátedra: 3.900 horas.

              <h3 class="title-rojo">Contacto</h3>
             <a href="mailto:profes.fisica.impa@gmail.com">profes.fisica.impa@gmail.com</a>
			

               <h3 class="title-rojo">Plan de carrea</h3>
                <a href="docs/plan-carrera-fisica.pdf"  target="_blank">Descargar</a>
        	</div>
      

        </div>
      </div>
    </div>

    <div class="container-fluid bg-blanco section profesorados">
      <div class="container">
        <div class="row separador">
          <h2 class="text-center title">Los Profesorados de IMPA</h2>
          <div class="col-md-4 col-xs-12 col-sm-4 box-novedades rojo">            
            <a href="profesorado-fisica.html"><h4>Física</h4></a>
          </div>
           <div class="col-md-4 col-xs-12 col-sm-4 box-novedades gris">   
            <a href="profesorado-matematica.html"><h4>Matemática</h4></a>
          </div>
           <div class="col-md-4 col-xs-12 col-sm-4 box-novedades azul">       
            <a href="profesorado-tecnologia.html"><h4>Tecnología</h4></a>
          </div>
          

        </div>

      </div>
    </div>

    <div class="container-fluid bg-azul section footer">
      <div class="container">
        <div class="row separador">
          
          <div class="col-md-3 col-xs-6 col-sm-4">
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="">Contacto</a></li>
              <li><a href="">Privacidad</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-6 col-sm-4">
            <ul>
              <li><a href="">Alumnos y docentes</a></li>
              <li><a href="">Carreras</a></li>
              <li><a href="">Cursos</a></li>
            </ul> 
          </div>
          <div class="col-md-3 col-xs-6 col-sm-4">
            <ul>
              <li>Querandíes 4290</li>
              <li>CABA</li>
          
            </ul>  
            
          </div>
          <div class="col-md-3 social col-xs-6 col-sm-4">
          <!--    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            -->
          </div>

        </div>
      </div>
    </div>
    <!-- / Contenido centrado -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var height = $(window).height();
        $('.extra-navigation').height(height);

        var opened = false;

        $('.view-navigation').click(function(){
          if(!opened){
            $('.extra-navigation').fadeIn();
            opened = true;
          }else{
            $('.extra-navigation').fadeOut();
            opened = false;
          }
          
        });
      });
    </script>
  </body>
</html>